h1 Edit your Profile

form.person( method='POST', action='/people/' + person.id )
  input( type='hidden', name='_method', value='put' )
  != partial('form')
  p
    input( type='submit', value='Update' )
    | 
    a( href='/people') Cancel

form.delete( method='POST', action='/people/' + person.id )
  input( type='hidden', name='_method', value='DELETE' )
  input.scary( type='submit', value='Delete' )
