!= partial('errors', { errors: person.errors })

.name.tabular
  label(for='firstName') first name
  input(type='text', name='firstName', id='firstName', value=person.firstName)

.name.tabular
  label(for='firstName' ) last name
  input(type='text', name='lastName', id='lastName', value=person.lastName)

