h1 People
ul
  - each person in people
    li
      a(href='/people/' + person.id)= person.name() || '?'

p
  a(href='/people/new') New Person
  
h4 For testing asset serving:
div
  img(src='/images/earth.jpeg', width='208', height='208')
  img(src='/images/rocket.jpeg', width='225', height='224')