h1= title('Unauthorized (401)')
:markdown
  You're not authorized to do whatever it is you were doing.

  If you were trying to add yourself to a team, make sure you follow the link
  that you received in your invite email.

  If you think you should be able to, [email us] and we'll figure it out
  together.

  If you were being sneaky, then you might want peruse the [source code] first
  and if you find anything sneaky-able, send us an [issue].

  [email us]: mailto:all@nodeknockout.com
  [source code]: https://github.com/nko2/website
  [issue]: https://github.com/nko2/website/issues
