h1= title('Internal Server Error (500)')
:markdown
  Uh oh. Don't worry, we've already been notified you hit this error, but if
  this is blocking you from doing something, definitely [email us] and we'll
  get right on it.

  [email us]: mailto:all@nodeknockout.com

h2 Error information
code= error.stack
